<a href="https://colab.research.google.com/github/railrun98/ML/blob/main/Bin_classif.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [47]:
import pandas as pd
import numpy as np

In [48]:
Data = pd.read_csv('gym_data.csv')

In [50]:
Data.head()

     Row  Registration  Zipcode  ...  Cancellation_freq  Exited  Unnamed: 12
0  10001       2000159    57328  ...               0.01       0          NaN
1  10002       2000235    29941  ...               0.07       0          NaN
2  10003       2000297    57328  ...               0.28       0          NaN
3  10004       2000435    29941  ...               0.39       0          NaN
4  10005       2000774    29941  ...               0.12       1          NaN

[5 rows x 13 columns]

In [51]:
X = Data[['Registration',	'Zipcode',	'Age',	'Partner_company',	'Friend_promo',	'Contract_period',	'Lifetime',	'Class_registration_weekly'	,'Avg_additional_charges_total'	,'Cancellation_freq']]
Y = Data['Exited']

In [52]:
X.isnull().sum()

Registration                    0
Zipcode                         0
Age                             0
Partner_company                 0
Friend_promo                    0
Contract_period                 0
Lifetime                        0
Class_registration_weekly       0
Avg_additional_charges_total    0
Cancellation_freq               0
dtype: int64

In [53]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8100 entries, 0 to 8099
Data columns (total 10 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Registration                  8100 non-null   int64
 1   Zipcode                       8100 non-null   int64
 2   Age                           8100 non-null   int64
 3   Partner_company               8100 non-null   int64
 4   Friend_promo                  8100 non-null   int64
 5   Contract_period               8100 non-null   int64
 6   Lifetime                      8100 non-null   int64
 7   Class_registration_weekly     8100 non-null   float64
 8   Avg_additional_charges_total  8100 non-null   float64
 9   Cancellation_freq             8100 non-null   float64
dtypes: float64(3), int64(7)
memory usage: 632.9 KB

In [54]:
Y

0       0
1       0
2       0
3       0
4       1
       ..
8095    0
8096    0
8097    0
8098    0
8099    0
Name: Exited, Length: 8100, dtype: int64

In [55]:
Y.unique()

array([0, 1])

In [56]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(X)

X = scaler.transform(X)

In [57]:
from sklearn.linear_model import LogisticRegression

In [59]:
X_test=pd.read_csv('gym_test.csv')

In [70]:
X_test

      Registration  Zipcode  ...  Avg_additional_charges_total  Cancellation_freq
0          2000159    57328  ...                    134.200000               0.01
1          2000235    29941  ...                    177.600000               0.07
2          2000297    57328  ...                    205.000000               0.28
3          2000435    29941  ...                    220.666667               0.39
4          2000774    29941  ...                    142.040000               0.12
...            ...      ...  ...                           ...                ...
8095       2999305    57328  ...                    188.460000               0.07
8096       2999322    29941  ...                    226.333333               0.12
8097       2999324    29941  ...                    211.333333               0.00
8098       2999660    29941  ...                    113.730000               0.00
8099       2999894    29941  ...                    219.666667               0.02

[8100 rows x 10 columns]

In [60]:
X_test = Data[['Registration',	'Zipcode',	'Age',	'Partner_company',	'Friend_promo',	'Contract_period',	'Lifetime',	'Class_registration_weekly'	,'Avg_additional_charges_total'	,'Cancellation_freq']]

In [61]:
clf = LogisticRegression()
clf.fit(X, Y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [86]:
predict_proba = clf.predict_proba(X_test)[:, 1]

In [87]:
f= list(map(int, predict_proba))

In [88]:
f=pd.DataFrame(f)

In [89]:
f

      0
0     0
1     1
2     0
3     1
4     1
...  ..
8095  1
8096  1
8097  1
8098  1
8099  1

[8100 rows x 1 columns]

In [90]:
X_test = Data[['Registration',	'Zipcode',	'Age',	'Partner_company',	'Friend_promo',	'Contract_period',	'Lifetime',	'Class_registration_weekly'	,'Avg_additional_charges_total'	,'Cancellation_freq']]

In [94]:
X_test

      Registration  Zipcode  ...  Avg_additional_charges_total  Cancellation_freq
0          2000159    57328  ...                    134.200000               0.01
1          2000235    29941  ...                    177.600000               0.07
2          2000297    57328  ...                    205.000000               0.28
3          2000435    29941  ...                    220.666667               0.39
4          2000774    29941  ...                    142.040000               0.12
...            ...      ...  ...                           ...                ...
8095       2999305    57328  ...                    188.460000               0.07
8096       2999322    29941  ...                    226.333333               0.12
8097       2999324    29941  ...                    211.333333               0.00
8098       2999660    29941  ...                    113.730000               0.00
8099       2999894    29941  ...                    219.666667               0.02

[8100 rows x 10 columns]

In [115]:
df=pd.concat([X_test,f],axis=1)

In [116]:
df

      Registration  Zipcode  ...  Cancellation_freq  Exited
0          2000159    57328  ...               0.01       0
1          2000235    29941  ...               0.07       1
2          2000297    57328  ...               0.28       0
3          2000435    29941  ...               0.39       1
4          2000774    29941  ...               0.12       1
...            ...      ...  ...                ...     ...
8095       2999305    57328  ...               0.07       1
8096       2999322    29941  ...               0.12       1
8097       2999324    29941  ...               0.00       1
8098       2999660    29941  ...               0.00       1
8099       2999894    29941  ...               0.02       1

[8100 rows x 11 columns]

In [122]:
df.to_csv('gym_test.csv')